#ProductChoose {
  .ant-select-selector {
    height: 50px!important;
  }

  .ant-select:hover {
    background-color: #fff!important;
    border-color: #fff!important;
    border-radius: .25rem;
    box-shadow: 0 0 0 .25rem rgba(52,141,143,.25)!important;
    color: #212529!important;
    outline: 0!important;
  }

  .ant-select-selection-placeholder {
    font-size: 1.4rem;
  }
}
