// Plugin: sweetalert2

.swal2-container {
  &.swal2-backdrop-show {
    background: rgba(86, 82, 80, .5) !important;
  }
  .swal2-popup {
    width: 480px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
    &.swal2-show {
      animation: slideIn .3s 0s ease-out 1 normal none running;
      @keyframes slideIn {
        from { transform: translate(0, -50px); }
        to { transform: none; }
      }
    }
    &.swal2-hide {
      animation: none;
    }
  }
  .swal2-close {
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23565250'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .5;
    &:hover {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23565250'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
      opacity: .75;
    }
  }
  .swal2-title {
    color: #06974F;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  .swal2-html-container {
    color: #565250;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
  }
  .swal2-actions {
    width: 100%;
    flex-direction: row-reverse;
    button {
      flex-grow: 1;
    }
  }
  .swal2-styled.swal2-confirm {
    background-color: #06974F;
    border-color: #06974F;
    border-radius: 10px;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 12px 44px;
    transition: 0.15s ease-in-out;
    &:hover {
      background-image: none;
      background-color: #398856;
      border-color: #01742B;
    }
    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(82, 158, 160, .5);
    }
  }
  .swal2-styled.swal2-cancel {
    background-color: #FFFFFF;
    border: 1px solid #398856;
    border-radius: 10px;
    color: #398856;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 12px 44px;
    transition: 0.15s ease-in-out;
    &:hover {
      background-image: none !important;
      background-color: #E7DBCA;
    }
    &:active {
      background-image: none;
      background-color: #DC7D09;
      border-color: #06974F;
      color: #06974F;
    }
    &:focus {
      box-shadow: 0px 0px 0px 5px #E7DBCA;
    }
  }
}

@media only screen and (max-width: 575px) {
  .swal2-container {
    .swal2-popup {
      padding: 16px;
    }
  }
}