#onlineAuthApply {
  .row {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .content {
    padding-bottom: 55px;
  }
  .cardTitle {
    color: #565250;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600 !important;
  }
}