#CustomTab {
  .ant-card-body {
    padding: 0;
  }

  .content {
    padding-bottom: 55px;
  }

  .ant-table-thead {

    tr > th {
      background: #E7DBCA;;
    }
  }

  .ant-tabs-tab-active {
    color: white !important;
    background: #DB7F00;

    .ant-tabs-tab-btn {
      color: white !important;
    }
  }

  .ant-tabs-nav-list {
    * {
      font-size: 1.3rem;
      font-weight: 600;
    }

    .ant-tabs-tab {
      color: #DB7F00;
      width: 100px;
      justify-content: center;
      padding: 10px 100px !important;
    }
  }
}

#Preview {
  table {
    tbody {

      .ant-table-cell {
        color: #565250;
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 8px;
        font-weight: 400 !important;
      }
    }
  }
}
#PreviewHistory {
  table {
    tbody {

      .ant-table-cell {
        color: #565250;
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 8px;
        font-weight: 400 !important;
      }
    }
  }
}
