#SignModal {
  .pdfPage {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 72px;
    li.pageItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 5px 0 5px 0;
    }
    li.pageItem::before {
      content: url('../../img/icons/edit-red.svg');
      position: relative;
      left: 7px;
    }
    li.pageItem.active::before {
      position: relative;
      left: 7px;
      content: url('../../img/icons/check-yellow.svg');
    }
    .pageNum {
      margin: 0px 3px;
      display: flex;
      flex-direction: column;
      min-width: 32px;
      height: 32px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
      line-height: 30px;
      text-align: center;
      vertical-align: middle;
      list-style: none;
      background-color: #FFFFFF;
      border: 1px solid transparent;
      border-radius: 6px;
      border-color: #DB7F00;
      outline: 0;
      cursor: pointer;
      user-select: none;
    }

    li.pageLabel {
      margin: 10px 3px;
      display: inline-block;
      min-width: 32px;
      height: 32px;
      font-weight: 600;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
      line-height: 45px;
      text-align: center;
      vertical-align: middle;
      list-style: none;
      outline: 0;
      cursor: pointer;
      user-select: none;
    }
    span.active.pageNum {
      background: #DB7F00 !important;
      color: #FFFFFF !important;
    }
  }
  .modal-header {
    margin-bottom: 0px;
  }
  &.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;

    &.modal-message {
      .modal-container {
        border-radius: 8px;
        width: 50%;
        height: 50%;
      }
    }
  }

  &.modal-overlay.visible {
    opacity: 1;
    visibility: visible;
  }

  .modal-container {
    background: white;
    width: 100vw;
    height: 100vh;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    background: #DB7F00;
    color: white;
  }

  .header-title {
    flex-grow: 1;
    text-align: center;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .header-button {
    position: absolute;
    font-weight: 400;
    font-size: 1.2rem;

    &.left {
      left: 0;
    }

    &.right {
      right: 2rem;
    }
  }

  //.header-button:first-child {
  //  left: 0;
  //}
  //
  //.header-button:last-child {
  //  right: 2rem;
  //}

  .modal-body {
    padding: 0 20px 0 20px;
  }

  .modal-footer {
    text-align: right;
    padding: 20px;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
}