:root {
  --elife-bg-color: var(--elife-green-1);
}

#login {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;

  #top1 {
    height: 20px;
    background-color: var(--elife-green-1);
  }

  #my-logo {
    //position: relative;
    width: 220px;
    height: 65px;
    //padding-right: 15px;
    //padding-left: 15px;
    * {
      height: 65px;
    }
  }

  .nav-title {
    border-left: 1.5px solid rgba(0, 0, 0, 0.17);
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .loginForm {
    --elife-bg-color: #f2f1f1;
    background: var(--elife-bg-color);

    .title-text {
      font-size: 21px;
      font-weight: 600;
      color: #348d8f;
    }

    .title-icon {
      width: 72px;
    }
    
    a {
      color: var(--elife-green-1);
    }
  }

}

