.reminder {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 1030;
}

.reminder .for-desktop {
  padding: 16px;
  background: #ffffff;
  border: 1px solid rgba(74, 46, 25, 0.15);
  border-radius: 16px;
  font-size: 0.875rem;
  line-height: 1.375rem;
  // columns: #2f2f2f;
  font-weight: 300;
}

.reminder .for-desktop .avatar {
  width: 42px;
  height: 42px;
}

.reminder .for-desktop .cross {
  width: 24px;
  height: 24px;
  right: 12px;
  top: 12px;
  position: absolute;
}

.reminder .for-desktop .cross:hover {
  cursor: pointer;
}

.reminder .for-desktop .head {
  display: flex;
  align-items: center;
}

.reminder .for-desktop .subject {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: #492d18;
  margin-top: 12px;
}

.reminder .for-desktop .text {
  background: #ffefcf;
  border-radius: 16px;
  padding: 0 12px;
  margin-top: 6px;
}

.reminder .for-desktop .btn-wrapper {
  margin-top: 22px;
}

.reminder .for-desktop .btn-wrapper .btn {
  padding: 0.5rem 2.75rem;
}

.reminder .for-mobile {
  display: none;
  flex-direction: column;
  align-items: flex-end;
}

.reminder .for-mobile .avatar {
  width: 64px;
  height: 64px;
}

.reminder .for-mobile .avatar-wrapper {
  width: 64px;
  height: 64px;
  position: relative;
}

.reminder .for-mobile .avatar-wrapper::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  background: #D03360;
  border-radius: 8px;
  right: -4px;
  top: 0;
}

.reminder .for-mobile .dialogue {
  filter: drop-shadow(0px 0px 52px rgba(0, 0, 0, 0.16));
  padding: 16px;
  background: #fff;
  border-radius: 16px 16px 0 16px;
  border: 1px solid rgba(74, 46, 25, 0.15);
  position: relative;
  margin: 0 24px 16px 0;
}

.reminder .for-mobile .dialogue::after {
  content: "";
  width: 27px;
  height: 14px;
  display: block;
  background-image: url('../../img/pic/dialogue-corner.svg');
  position: absolute;
  bottom: -14px;
  right: -1px;
}

.reminder .for-mobile .dialogue .subject {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #492d18;
  margin-bottom: 8px;
}

.reminder .for-mobile .dialogue a div {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  line-height: 1.5rem;
}

.reminder .for-mobile .dialogue a div:after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-image: url('../../img/icons/chevron-right.svg');
}

@media (max-width: 991.98px) {
  .reminder .for-desktop {
    display: none;
  }
  .reminder .for-mobile {
    display: flex;
  }
}
