#Page1ImportModal2 {
  .btn-close-text {
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .cardTitle {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .modal-title {
    color: #fff;
  }
}
