#Page1RecordModal2 {
  .status.success {
    color: #4ac281 !important;
  }
  .ip {
    color: #a9a9a9 !important;
  }
  .time {
    color: #565250;
  }

  .notes {
    color: var(--elife-green-1);
    font-size: .875rem;
    font-weight: 300;
    line-height: 1.375rem;
  }
}
