.topBtn{
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #FFF;
  background-color: #348d8f;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 9999;
  border: 1px solid #FFF;
  border-radius: 40px;
  cursor: pointer;
}

.topBtn:active {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(52, 141, 143, 0.25);
}
